In [1]:
import pandas as pd
import numpy as np

## Load Dataset

In [2]:
data = pd.read_csv(r'Indian_Kids_Screen_Time.csv')

In [3]:
data.head()

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
0,14,Male,3.99,Smartphone,True,0.42,"Poor Sleep, Eye Strain",Urban
1,11,Female,4.61,Laptop,True,0.30,Poor Sleep,Urban
2,18,Female,3.73,TV,True,0.32,Poor Sleep,Urban
3,15,Female,1.21,Laptop,False,0.39,NaN,Urban
4,12,Female,5.89,Smartphone,True,0.49,"Poor Sleep, Anxiety",Urban

## Check Null Values

In [5]:
data.isnull().sum()

Age                                     0
Gender                                  0
Avg_Daily_Screen_Time_hr                0
Primary_Device                          0
Exceeded_Recommended_Limit              0
Educational_to_Recreational_Ratio       0
Health_Impacts                       3218
Urban_or_Rural                          0
dtype: int64

## Check Duplicated Values

In [6]:
data.duplicated().sum()

44

In [11]:
df = pd.DataFrame(data)
print(df)

      Age  Gender  Avg_Daily_Screen_Time_hr Primary_Device  \
0      14    Male                      3.99     Smartphone
1      11  Female                      4.61         Laptop
2      18  Female                      3.73             TV
3      15  Female                      1.21         Laptop
4      12  Female                      5.89     Smartphone
...   ...     ...                       ...            ...
9707   17    Male                      3.26     Smartphone
9708   17  Female                      4.43     Smartphone
9709   16    Male                      5.62     Smartphone
9710   17    Male                      5.60             TV
9711   15  Female                      6.12             TV

      Exceeded_Recommended_Limit  Educational_to_Recreational_Ratio  \
0                           True                               0.42
1                           True                               0.30
2                           True                               0.32
3                          False                               0.39
4                           True                               0.49
...                          ...                                ...
9707                        True                               0.44
9708                        True                               0.40
9709                        True                               0.39
9710                        True                               0.43
9711                        True                               0.33

                       Health_Impacts Urban_or_Rural
0              Poor Sleep, Eye Strain          Urban
1                          Poor Sleep          Urban
2                          Poor Sleep          Urban
3                                 NaN          Urban
4                 Poor Sleep, Anxiety          Urban
...                               ...            ...
9707                       Poor Sleep          Urban
9708                       Poor Sleep          Rural
9709  Poor Sleep, Eye Strain, Anxiety          Rural
9710                       Poor Sleep          Urban
9711                          Anxiety          Urban

[9712 rows x 8 columns]

## Check Correlation

In [14]:
df.corr(numeric_only=True)

,Age,Avg_Daily_Screen_Time_hr,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio
Age,1.000000,0.118328,0.159173,-0.488617
Avg_Daily_Screen_Time_hr,0.118328,1.000000,0.664950,-0.087552
Exceeded_Recommended_Limit,0.159173,0.664950,1.000000,-0.126643
Educational_to_Recreational_Ratio,-0.488617,-0.087552,-0.126643,1.000000

## Check Info of Columns

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                9712 non-null   int64
 1   Gender                             9712 non-null   object
 2   Avg_Daily_Screen_Time_hr           9712 non-null   float64
 3   Primary_Device                     9712 non-null   object
 4   Exceeded_Recommended_Limit         9712 non-null   bool
 5   Educational_to_Recreational_Ratio  9712 non-null   float64
 6   Health_Impacts                     6494 non-null   object
 7   Urban_or_Rural                     9712 non-null   object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 540.7+ KB

## Check Datatype of columns

In [18]:
data.dtypes

Age                                    int64
Gender                                object
Avg_Daily_Screen_Time_hr             float64
Primary_Device                        object
Exceeded_Recommended_Limit              bool
Educational_to_Recreational_Ratio    float64
Health_Impacts                        object
Urban_or_Rural                        object
dtype: object

## IQR for ML Models

In [19]:
numeric_cols = ['Age', 'Avg_Daily_Screen_Time_hr', 'Educational_to_Recreational_Ratio']
outlier_flags = pd.DataFrame(index=df.index)
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
outlier_flags[col + '_Outlier'] = ~df[col].between(lower_bound, upper_bound)
outlier_flags['Any_Outlier'] = outlier_flags.any(axis=1)
df_outliers = df.join(outlier_flags)
print("Outlier Counts:\n", outlier_flags.sum())
print("\nSample Outliers:\n", df_outliers[df_outliers['Any_Outlier']].head(10))

Outlier Counts:
 Age_Outlier                                    0
Avg_Daily_Screen_Time_hr_Outlier             448
Educational_to_Recreational_Ratio_Outlier      0
Any_Outlier                                  448
dtype: int64

Sample Outliers:
      Age  Gender  Avg_Daily_Screen_Time_hr Primary_Device  \
19     9  Female                      0.00             TV
28     8    Male                      0.31     Smartphone
36    10    Male                     11.68             TV
46     9  Female                      0.00     Smartphone
58     9    Male                      0.00     Smartphone
92    10  Female                      0.00         Tablet
96    10    Male                      0.00     Smartphone
107    9  Female                      0.45     Smartphone
145    9  Female                      0.00         Tablet
180    8    Male                      0.30             TV

     Exceeded_Recommended_Limit  Educational_to_Recreational_Ratio  \
19                        False                               0.42
28                        False                               0.51
36                         True                               0.47
46                        False                               0.47
58                        False                               0.59
92                        False                               0.40
96                        False                               0.45
107                       False                               0.46
145                       False                               0.49
180                       False                               0.48

    Health_Impacts Urban_or_Rural  Age_Outlier  \
19             NaN          Urban        False
28             NaN          Urban        False
36      Poor Sleep          Urban        False
46             NaN          Urban        False
58             NaN          Rural        False
92             NaN          Urban        False
96             NaN          Rural        False
107            NaN          Rural        False
145            NaN          Rural        False
180            NaN          Urban        False

     Avg_Daily_Screen_Time_hr_Outlier  \
19                               True
28                               True
36                               True
46                               True
58                               True
92                               True
96                               True
107                              True
145                              True
180                              True

     Educational_to_Recreational_Ratio_Outlier  Any_Outlier
19                                       False         True
28                                       False         True
36                                       False         True
46                                       False         True
58                                       False         True
92                                       False         True
96                                       False         True
107                                      False         True
145                                      False         True
180                                      False         True