In [ ]:
import pandas as pd
df = pd.read_csv('Indian_Kids_Screen_Time.csv')
df.head()

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
0,14,Male,3.99,Smartphone,True,0.42,"Poor Sleep, Eye Strain",Urban
1,11,Female,4.61,Laptop,True,0.30,Poor Sleep,Urban
2,18,Female,3.73,TV,True,0.32,Poor Sleep,Urban
3,15,Female,1.21,Laptop,False,0.39,NaN,Urban
4,12,Female,5.89,Smartphone,True,0.49,"Poor Sleep, Anxiety",Urban

In [ ]:
#Check Null values in the Dataset
df.isnull().sum()

Age                                     0
Gender                                  0
Avg_Daily_Screen_Time_hr                0
Primary_Device                          0
Exceeded_Recommended_Limit              0
Educational_to_Recreational_Ratio       0
Health_Impacts                       3218
Urban_or_Rural                          0
dtype: int64

In [ ]:
#Check duplicate Values
df.duplicated().sum()

np.int64(44)

In [ ]:
#Check for first 20 Duplicate rows
df[df.duplicated(keep=False)].head(20)

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
369,14,Male,4.94,Smartphone,True,0.41,NaN,Urban
646,16,Female,4.42,Laptop,True,0.35,"Poor Sleep, Anxiety",Urban
672,9,Female,0.00,Smartphone,False,0.60,NaN,Urban
717,10,Male,0.00,Smartphone,False,0.50,NaN,Urban
782,9,Male,0.00,Smartphone,False,0.41,NaN,Urban
968,10,Female,0.00,Smartphone,False,0.43,NaN,Urban
969,8,Female,0.00,Smartphone,False,0.53,NaN,Urban
996,16,Female,4.42,Laptop,True,0.35,"Poor Sleep, Anxiety",Urban
1099,8,Female,0.00,Smartphone,False,0.43,NaN,Urban
1172,8,Female,0.00,Smartphone,False,0.59,NaN,Urban
1177,10,Male,0.00,Smartphone,False,0.45,NaN,Urban
1387,8,Female,0.00,Smartphone,False,0.44,NaN,Urban
1419,9,Male,0.00,Tablet,False,0.50,NaN,Urban
1474,10,Male,0.00,Tablet,False,0.54,NaN,Urban
1700,9,Female,0.00,Smartphone,False,0.60,NaN,Urban
1781,10,Female,0.00,Tablet,False,0.49,NaN,Urban
2041,8,Female,4.84,Smartphone,True,0.46,Poor Sleep,Rural
2090,10,Female,0.00,Tablet,False,0.49,NaN,Urban
2194,8,Female,0.00,TV,False,0.40,NaN,Urban
2278,10,Female,0.00,Smartphone,False,0.48,NaN,Urban

In [ ]:
#Check Correlation
df.corr(numeric_only=True)

,Age,Avg_Daily_Screen_Time_hr,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio
Age,1.000000,0.118328,0.159173,-0.488617
Avg_Daily_Screen_Time_hr,0.118328,1.000000,0.664950,-0.087552
Exceeded_Recommended_Limit,0.159173,0.664950,1.000000,-0.126643
Educational_to_Recreational_Ratio,-0.488617,-0.087552,-0.126643,1.000000

In [ ]:
#Check info. of the columns in Dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                9712 non-null   int64
 1   Gender                             9712 non-null   object
 2   Avg_Daily_Screen_Time_hr           9712 non-null   float64
 3   Primary_Device                     9712 non-null   object
 4   Exceeded_Recommended_Limit         9712 non-null   bool
 5   Educational_to_Recreational_Ratio  9712 non-null   float64
 6   Health_Impacts                     6494 non-null   object
 7   Urban_or_Rural                     9712 non-null   object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 540.7+ KB

In [ ]:
#Check datatype of columns
df.dtypes

Age                                    int64
Gender                                object
Avg_Daily_Screen_Time_hr             float64
Primary_Device                        object
Exceeded_Recommended_Limit              bool
Educational_to_Recreational_Ratio    float64
Health_Impacts                        object
Urban_or_Rural                        object
dtype: object