In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("C:\\Users\\91887\\Desktop\\Indian_Kids_Screen_Time.csv")

In [9]:
print("Null Values:\n", df.isnull().sum())

Null Values:
 Age                                     0
Gender                                  0
Avg_Daily_Screen_Time_hr                0
Primary_Device                          0
Exceeded_Recommended_Limit              0
Educational_to_Recreational_Ratio       0
Health_Impacts                       3218
Urban_or_Rural                          0
dtype: int64

In [10]:
print("Duplicate value Rows:", df.duplicated().sum())
df = df.drop_duplicates()
print(df.shape)
df.describe()

Duplicate value Rows: 44
(9668, 8)

,Age,Avg_Daily_Screen_Time_hr,Educational_to_Recreational_Ratio
count,9668.000000,9668.000000,9668.000000
mean,12.992760,4.367780,0.427028
std,3.158931,1.703002,0.073185
min,8.000000,0.000000,0.300000
25%,10.000000,3.427500,0.370000
50%,13.000000,4.440000,0.430000
75%,16.000000,5.380000,0.480000
max,18.000000,13.890000,0.600000

In [11]:
df.corr(numeric_only=True)

,Age,Avg_Daily_Screen_Time_hr,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio
Age,1.000000,0.108873,0.150615,-0.488017
Avg_Daily_Screen_Time_hr,0.108873,1.000000,0.657812,-0.081445
Exceeded_Recommended_Limit,0.150615,0.657812,1.000000,-0.120873
Educational_to_Recreational_Ratio,-0.488017,-0.081445,-0.120873,1.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9668 entries, 0 to 9711
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                9668 non-null   int64
 1   Gender                             9668 non-null   object
 2   Avg_Daily_Screen_Time_hr           9668 non-null   float64
 3   Primary_Device                     9668 non-null   object
 4   Exceeded_Recommended_Limit         9668 non-null   bool
 5   Educational_to_Recreational_Ratio  9668 non-null   float64
 6   Health_Impacts                     6488 non-null   object
 7   Urban_or_Rural                     9668 non-null   object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 613.7+ KB

In [13]:
df.dtypes

Age                                    int64
Gender                                object
Avg_Daily_Screen_Time_hr             float64
Primary_Device                        object
Exceeded_Recommended_Limit              bool
Educational_to_Recreational_Ratio    float64
Health_Impacts                        object
Urban_or_Rural                        object
dtype: object

In [14]:
numeric_df = df.select_dtypes(include=["int64", "float64"])
Q1 = numeric_df.quantile(0.25)
Q3 = numeric_df.quantile(0.75)
IQR = Q3 - Q1
print("IQR:\n", IQR)

IQR:
 Age                                  6.0000
Avg_Daily_Screen_Time_hr             1.9525
Educational_to_Recreational_Ratio    0.1100
dtype: float64