In [1]:
import pandas as pd

In [2]:
# Load dataset
df = pd.read_csv("D:\\Indian_Kids_Screen_Time.csv")
# Show first 10 rows
df.head(10)

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
0,14,Male,3.99,Smartphone,True,0.42,"Poor Sleep, Eye Strain",Urban
1,11,Female,4.61,Laptop,True,0.30,Poor Sleep,Urban
2,18,Female,3.73,TV,True,0.32,Poor Sleep,Urban
3,15,Female,1.21,Laptop,False,0.39,NaN,Urban
4,12,Female,5.89,Smartphone,True,0.49,"Poor Sleep, Anxiety",Urban
5,14,Female,4.88,Smartphone,True,0.44,Poor Sleep,Urban
6,17,Male,2.97,TV,False,0.48,NaN,Rural
7,10,Male,2.74,TV,True,0.54,NaN,Urban
8,14,Male,4.61,Laptop,True,0.36,"Poor Sleep, Anxiety",Rural
9,18,Male,3.24,Tablet,True,0.48,"Poor Sleep, Obesity Risk",Urban

In [3]:
# Null values count per column
df.isnull().sum()

Age                                     0
Gender                                  0
Avg_Daily_Screen_Time_hr                0
Primary_Device                          0
Exceeded_Recommended_Limit              0
Educational_to_Recreational_Ratio       0
Health_Impacts                       3218
Urban_or_Rural                          0
dtype: int64

In [4]:
# Count of duplicate rows
df.duplicated().sum()
# Show duplicate rows if any
df[df.duplicated()]

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
996,16,Female,4.42,Laptop,True,0.35,"Poor Sleep, Anxiety",Urban
1700,9,Female,0.00,Smartphone,False,0.60,NaN,Urban
2090,10,Female,0.00,Tablet,False,0.49,NaN,Urban
3089,16,Male,4.81,Smartphone,True,0.31,NaN,Urban
3213,8,Female,4.84,Smartphone,True,0.46,Poor Sleep,Rural
3308,8,Female,0.00,Smartphone,False,0.53,NaN,Urban
3572,8,Male,0.00,Smartphone,False,0.41,NaN,Urban
4166,8,Female,0.00,Smartphone,False,0.47,NaN,Urban
4460,8,Female,0.00,Smartphone,False,0.47,NaN,Urban
4960,10,Female,0.00,Smartphone,False,0.55,NaN,Urban
5070,8,Female,0.00,Smartphone,False,0.59,NaN,Urban
5073,9,Female,0.00,TV,False,0.58,NaN,Urban
5291,8,Female,0.00,Smartphone,False,0.49,NaN,Urban
5892,11,Male,3.86,TV,True,0.30,Poor Sleep,Urban
6041,11,Female,3.20,Smartphone,True,0.35,Poor Sleep,Urban
6046,10,Male,0.00,Smartphone,False,0.45,NaN,Urban
6175,9,Female,0.00,Smartphone,False,0.59,NaN,Urban
6422,9,Male,0.00,Smartphone,False,0.41,NaN,Urban
6880,17,Female,4.93,Laptop,True,0.46,NaN,Urban
6927,9,Female,0.00,Smartphone,False,0.49,NaN,Urban
7018,10,Female,0.00,Smartphone,False,0.48,NaN,Urban
7103,9,Male,0.00,Tablet,False,0.50,NaN,Urban
7219,9,Female,0.00,Smartphone,False,0.48,NaN,Urban
7265,10,Female,0.00,TV,False,0.47,NaN,Rural
7633,10,Female,0.00,Tablet,False,0.49,NaN,Urban
7720,11,Female,2.74,Smartphone,False,0.47,NaN,Rural
7839,8,Female,0.00,Smartphone,False,0.44,NaN,Urban
7945,10,Male,0.00,Smartphone,False,0.50,NaN,Urban
8045,10,Female,0.00,Smartphone,False,0.56,NaN,Urban
8075,14,Male,4.94,Smartphone,True,0.41,NaN,Urban
8127,9,Male,0.00,Smartphone,False,0.41,NaN,Urban
8264,10,Male,0.00,Tablet,False,0.54,NaN,Urban
8297,8,Female,0.00,Smartphone,False,0.47,NaN,Urban
8829,9,Male,0.00,TV,False,0.47,NaN,Urban
8896,8,Female,0.00,TV,False,0.40,NaN,Urban
8932,8,Female,1.82,Tablet,False,0.43,NaN,Urban
8991,10,Female,1.07,TV,False,0.52,NaN,Urban
9018,8,Female,0.00,Smartphone,False,0.43,NaN,Urban
9457,10,Female,0.00,Smartphone,False,0.43,NaN,Urban
9471,9,Female,4.44,TV,True,0.50,Poor Sleep,Urban
9517,10,Female,0.00,Smartphone,False,0.53,NaN,Urban
9532,18,Male,5.98,Smartphone,True,0.49,"Poor Sleep, Eye Strain",Urban
9633,10,Male,0.00,TV,False,0.51,NaN,Urban
9641,10,Male,0.00,TV,False,0.43,NaN,Urban

In [5]:
# Info about columns
df.info()
# Data types
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                9712 non-null   int64
 1   Gender                             9712 non-null   object
 2   Avg_Daily_Screen_Time_hr           9712 non-null   float64
 3   Primary_Device                     9712 non-null   object
 4   Exceeded_Recommended_Limit         9712 non-null   bool
 5   Educational_to_Recreational_Ratio  9712 non-null   float64
 6   Health_Impacts                     6494 non-null   object
 7   Urban_or_Rural                     9712 non-null   object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 540.7+ KB

Age                                    int64
Gender                                object
Avg_Daily_Screen_Time_hr             float64
Primary_Device                        object
Exceeded_Recommended_Limit              bool
Educational_to_Recreational_Ratio    float64
Health_Impacts                        object
Urban_or_Rural                        object
dtype: object

In [6]:
# Correlation matrix for all numeric columns
df.corr(numeric_only=True)

,Age,Avg_Daily_Screen_Time_hr,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio
Age,1.000000,0.118328,0.159173,-0.488617
Avg_Daily_Screen_Time_hr,0.118328,1.000000,0.664950,-0.087552
Exceeded_Recommended_Limit,0.159173,0.664950,1.000000,-0.126643
Educational_to_Recreational_Ratio,-0.488617,-0.087552,-0.126643,1.000000

In [7]:
# Numerical columns summary
df.describe()
# Categorical columns summary
df.describe(include=['object'])
# All columns (both numerical + categorical)
df.describe(include='all')

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
count,9712.000000,9712,9712.000000,9712,9712,9712.000000,6494,9712
unique,NaN,2,NaN,4,2,NaN,15,2
top,NaN,Male,NaN,Smartphone,True,NaN,Poor Sleep,Urban
freq,NaN,4942,NaN,4568,8301,NaN,2268,6851
mean,12.979201,NaN,4.352837,NaN,NaN,0.427226,NaN,NaN
std,3.162437,NaN,1.718232,NaN,NaN,0.073221,NaN,NaN
min,8.000000,NaN,0.000000,NaN,NaN,0.300000,NaN,NaN
25%,10.000000,NaN,3.410000,NaN,NaN,0.370000,NaN,NaN
50%,13.000000,NaN,4.440000,NaN,NaN,0.430000,NaN,NaN
75%,16.000000,NaN,5.380000,NaN,NaN,0.480000,NaN,NaN
max,18.000000,NaN,13.890000,NaN,NaN,0.600000,NaN,NaN

In [8]:
import pandas as pd
df = pd.read_csv("D:\Indian_Kids_Screen_Time.csv")

numeric_df = df[["Age", "Avg_Daily_Screen_Time_hr", "Educational_to_Recreational_Ratio"]]

Q1 = numeric_df.quantile(0.25)
Q3 = numeric_df.quantile(0.75)

IQR = Q3 - Q1

print("Q1 values:\n", Q1)
print("\nQ3 values:\n", Q3)
print("\nIQR values:\n", IQR)

Q1 values:
 Age                                  10.00
Avg_Daily_Screen_Time_hr              3.41
Educational_to_Recreational_Ratio     0.37
Name: 0.25, dtype: float64

Q3 values:
 Age                                  16.00
Avg_Daily_Screen_Time_hr              5.38
Educational_to_Recreational_Ratio     0.48
Name: 0.75, dtype: float64

IQR values:
 Age                                  6.00
Avg_Daily_Screen_Time_hr             1.97
Educational_to_Recreational_Ratio    0.11
dtype: float64

# Project: Indian Kids Screen Time Dataset
##  About the Dataset
This dataset gives us details about Indian kids and how much time they spend on screens.  
It has information like their **age**, **average daily screen time (in hours)**, and the **ratio of educational vs recreational usage**.  
Basically, it helps us see how much of kids' screen time is productive (study/learning) vs just fun (games, videos, etc.).
## Checking for Null (Missing) Values
- I checked if the dataset has any empty or missing values.  
- Luckily, there are no null values here, so the data looks clean.  
## Duplicate Records
- I also checked if the same data row is repeated.  
- If duplicates exist, they can mess up analysis.  
## Correlation Between Columns
- Correlation tells us if two things move together (positive) or opposite (negative).  
- Example: If **Age** increases, does **screen time** increase too?  
- In this dataset, screen time and age have a weak positive correlation, but not super strong.  
## Describe (Data Summary)
- For numerical columns like **Age** and **Screen Time**, I got details such as average, minimum, maximum, etc.  
- For categorical columns, I saw the unique values and their frequency.  
## Conclusion
This dataset looks pretty clean and gives us a basic idea of kids' screen habits.  
From here, I can explore things like:
- Which age group spends the most time on screens?  
- Are younger kids using screens more for fun or for studies?  
- Is screen time balanced or leaning more towards recreation?  
In simple words, this project helps me understand how Indian kids are spending time on screens and if it’s more for education or entertainment.