In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("D:\Indian_Kids_Screen_Time.csv")
print(df.head())

   Age  Gender  Avg_Daily_Screen_Time_hr Primary_Device  \
0   14    Male                      3.99     Smartphone
1   11  Female                      4.61         Laptop
2   18  Female                      3.73             TV
3   15  Female                      1.21         Laptop
4   12  Female                      5.89     Smartphone

   Exceeded_Recommended_Limit  Educational_to_Recreational_Ratio  \
0                        True                               0.42
1                        True                               0.30
2                        True                               0.32
3                       False                               0.39
4                        True                               0.49

           Health_Impacts Urban_or_Rural
0  Poor Sleep, Eye Strain          Urban
1              Poor Sleep          Urban
2              Poor Sleep          Urban
3                     NaN          Urban
4     Poor Sleep, Anxiety          Urban

In [7]:
df.isnull()

,Age,Gender,Avg_Daily_Screen_Time_hr,Primary_Device,Exceeded_Recommended_Limit,Educational_to_Recreational_Ratio,Health_Impacts,Urban_or_Rural
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
9707,False,False,False,False,False,False,False,False
9708,False,False,False,False,False,False,False,False
9709,False,False,False,False,False,False,False,False
9710,False,False,False,False,False,False,False,False
9711,False,False,False,False,False,False,False,False

In [8]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9707    False
9708    False
9709    False
9710    False
9711    False
Length: 9712, dtype: bool

In [17]:
df['Age'].corr(df['Avg_Daily_Screen_Time_hr'])

np.float64(0.11832766082818066)

In [18]:
df['Age'].corr(df['Educational_to_Recreational_Ratio'])

np.float64(-0.48861653673732164)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                9712 non-null   int64
 1   Gender                             9712 non-null   object
 2   Avg_Daily_Screen_Time_hr           9712 non-null   float64
 3   Primary_Device                     9712 non-null   object
 4   Exceeded_Recommended_Limit         9712 non-null   bool
 5   Educational_to_Recreational_Ratio  9712 non-null   float64
 6   Health_Impacts                     6494 non-null   object
 7   Urban_or_Rural                     9712 non-null   object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 540.7+ KB

In [20]:
df.dtypes

Age                                    int64
Gender                                object
Avg_Daily_Screen_Time_hr             float64
Primary_Device                        object
Exceeded_Recommended_Limit              bool
Educational_to_Recreational_Ratio    float64
Health_Impacts                        object
Urban_or_Rural                        object
dtype: object

In [3]:
import pandas as pd
df = pd.read_csv("D:\Indian_Kids_Screen_Time.csv")

numeric_df = df[["Age", "Avg_Daily_Screen_Time_hr", "Educational_to_Recreational_Ratio"]]

Q1 = numeric_df.quantile(0.25)
Q3 = numeric_df.quantile(0.75)

IQR = Q3 - Q1

print("Q1 values:\n", Q1)
print("\nQ3 values:\n", Q3)
print("\nIQR values:\n", IQR)

Q1 values:
 Age                                  10.00
Avg_Daily_Screen_Time_hr              3.41
Educational_to_Recreational_Ratio     0.37
Name: 0.25, dtype: float64

Q3 values:
 Age                                  16.00
Avg_Daily_Screen_Time_hr              5.38
Educational_to_Recreational_Ratio     0.48
Name: 0.75, dtype: float64

IQR values:
 Age                                  6.00
Avg_Daily_Screen_Time_hr             1.97
Educational_to_Recreational_Ratio    0.11
dtype: float64